button {
  display: block;
  margin-bottom: 1rem;
}

/* 左から右に流れる */
.flow-button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: white;
  background: linear-gradient(90deg, #0bd, #05b);
  background-size: 200% 100%; /* 背景を広げて流れる効果を作る */
  cursor: pointer;
  transition: background-position 0.4s ease; /* なめらかな動き */
}
.flow-button:hover {
  background-position: -100% 0; /* 背景を右から左に移動 */
}

/* カーソルの位置で色が変化 */
#flow-button-js {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: white;
  background: linear-gradient(90deg, #0bd, #0f0);
  background-size: 200% 100%;
  cursor: pointer;
  transition: background-position 0.2s ease;
}